.root{
    -fx-background-color: #383838;
}

.button{
    -fx-text-fill: #a4a4a4;
    -fx-font-size: 20;
    -fx-background-color: #383838;
    -fx-background-radius: 0;
    -fx-border-width: 0 0 0 1;
    -fx-border-color: #424242;
    -jfx-rippler-fill: darkorange;
}

.button:hover{
    -fx-background-color: #424242;
}
.exit-button{
    -fx-pref-height: 80;
    -fx-pref-width: 80;
}

.text-area{
    -fx-text-fill: lightgray;
    -jfx-focus-color: darkorange;
}

.label{
    -fx-text-fill: #a4a4a4;
    -fx-font-size: 20;
}

.tab{
    -fx-background-color: #383838;
    -fx-text-fill: #a4a4a4;
    -fx-pref-height: 80;
    -fx-pref-width: 200;
}

.tab .jfx-rippler{
    -jfx-rippler-fill:  #383838;
    -jfx-rippler-radius: 0;
}

.jfx-tab-pane .headers-region .tab-selected-line {
    -fx-background-color: darkorange;
}

.tab-header-background{
    -fx-background-color: #383838;
}
.text-field{
    -fx-text-fill: #a4a4a4;
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-border-insets: 0;
    -jfx-focus-color: darkorange;
}


/*change background and horizontal borders*/
.table-view .cell{
    -fx-font-size: 13px;
    -fx-cell-size: 35;
    -fx-alignment: center-right;
    -fx-background-color: #383838;
    -fx-border-color: #29292D;
    -fx-text-fill: lightgray;
    -fx-border-width: 0.15;
    -fx-alignment: CENTER_LEFT; /*CENTER_LEFT*/
}

.table-view .column-header .label{
    -fx-font-size: 15px;
    -fx-cell-size: 35;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-alignment: CENTER_LEFT;
}

.table-row-cell:hover .table-cell{
    -fx-background-color: #424242;
    -fx-text-fill: #a4a4a4;
}

.table-row-cell:selected .table-cell {
    -fx-background-color: #ffa726;
    -fx-text-fill: #383838;
}
/*scrollbars*/
.scroll-bar{
    -fx-background-color: #383838;
    -fx-border-color:#383838;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
}
.scroll-bar .thumb{
    -fx-background-color: #393939;
    -fx-border-color: #626262;
    -fx-background-radius: 0;
}

.table-view .filler {
    -fx-background-color: transparent;
}
.table-view .corner {
    -fx-background-color: transparent;
}

/*header of tableview background*/
.table-view .column-header, .table-view .column-header .filler, .table-view .column-header-background .filler {
    -fx-background-color: #383838;
}
.table-view{
    -fx-background-color: transparent;
}

/*pagination button on hover colour*/
.pagination > .pagination-control > .control-box > .number-button:hover,
.pagination > .pagination-control > .control-box > .bullet-button:hover,
.pagination > .pagination-control > .control-box > .left-arrow-button:hover,
.pagination > .pagination-control > .control-box > .right-arrow-button:hover {
    -fx-background-insets: 0;
    -fx-background-color: #ffcc80;
}

/*removes spacing between numbers*/
.pagination > .pagination-control > .control-box {
    -fx-spacing: 0;
    /*-fx-font-size: 15;*/
}
/*colour of chosen button*/
.pagination > .pagination-control > .control-box > .number-button:selected,
.pagination > .pagination-control > .control-box > .bullet-button:selected{
    -fx-background-insets: 0;
    -fx-background-color: darkorange;
    -fx-text-fill: black;
}

/*button size, colour when not chosen*/
.pagination > .pagination-control > .control-box > .number-button,
.pagination > .pagination-control > .control-box > .bullet-button,
.pagination > .pagination-control > .control-box > .left-arrow-button,
.pagination > .pagination-control > .control-box > .right-arrow-button {
    -fx-background-insets: 0, 1;
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-border-width: 0 0 0 0;
}

.combo-box{
    -jfx-focus-color: darkorange;
}

.combo-box > .list-cell {
    -fx-text-fill: #a4a4a4;
    -fx-background-radius: 0;
    -fx-font-size: 15;

}
.combo-box-popup .list-view .list-cell
{
    -fx-background-color: #383838;
    -fx-text-fill: #a4a4a4;
    -fx-border-width: 0 0 0 0;
}

.user-id-text-field{
    -fx-text-fill: #a4a4a4;
    -fx-font-size: 20;
}


