<configuration scan="true">
    <property name="LOG_DIR" value="logs" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="CONTROLLERS"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}/admin_changes.log</file>
        <encoder
                class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>
                %d{yyyy-MM-dd HH:mm:ss} %msg%n
            </Pattern>
        </encoder>

        <rollingPolicy
                class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${LOG_DIR}/archived/admin_changes.%d{yyyy-MM-dd}.%i.log
            </fileNamePattern>
            <maxFileSize>50MB</maxFileSize>
            <maxHistory>30</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <appender name="ORDERS"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}/orders.log</file>
        <encoder
                class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>
                %d{yyyy-MM-dd HH:mm:ss} %msg%n
            </Pattern>
        </encoder>

        <rollingPolicy
                class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${LOG_DIR}/archived/orders.%d{yyyy-MM-dd}.%i.log
            </fileNamePattern>
            <maxFileSize>50MB</maxFileSize>
            <maxHistory>30</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <appender name="CUSTOMERS"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}/customers.log</file>
        <encoder
                class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>
                %d{yyyy-MM-dd HH:mm:ss} %msg%n
            </Pattern>
        </encoder>

        <rollingPolicy
                class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${LOG_DIR}/archived/customers.%d{yyyy-MM-dd}.%i.log
            </fileNamePattern>
            <maxFileSize>50MB</maxFileSize>
            <maxHistory>30</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <logger name="org.hibernate" level="OFF"></logger>

    <logger name="controller" level="info"
            additivity="false">
        <appender-ref ref="CONTROLLERS" />
    </logger>

    <logger name="controller.CustomerController" level="info"
            additivity="false">
        <appender-ref ref="CUSTOMERS"/>
    </logger>

    <logger name="model.Order" level="info"
            additivity="false">
        <appender-ref ref="ORDERS" />
    </logger>

    <root level="trace">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
