/*@font-face {
    font-family: 'Roboto', sans-serif;
    src: url('Roboto-Bold.ttf');
}*/

.root{
    -fx-background-color: #383838;
    /*-fx-font-family: 'Roboto';*/
}

.text-field{
    -jfx-focus-color: darkorange;
    -fx-text-fill: #a4a4a4;
    -fx-background-radius: 0;
}

.label{
    -fx-text-fill: #a4a4a4;
    -fx-font-size: 20;
}

.button{
    -fx-border-color: #a4a4a4;
    -fx-text-fill: #a4a4a4;
    -jfx-rippler-fill: darkorange;
}
.button:hover{
    -fx-background-color: #424242;
}

.wrong-info-label{
    -fx-font-size: 13;
    -fx-text-fill: #ff7961;
}

.jfx-rippler{
    -jfx-rippler-radius: 0;
}

.create-user-button{
    -fx-font-size: 20;
}

.create-user-field{
    -fx-font-size: 17.5;
}

.create-user-text{
    -fx-font-size: 30;
}
